@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@import "tailwindcss";
@config "../tailwind.config.js";

@layer base {
  body {
    font-family: 'Inter', sans-serif;
  }
}

@layer utilities {
  .bg-polka-dots {
    background-image: radial-gradient(#e2e8f0 2px, transparent 2px);
    background-size: 32px 32px;
  }
}
